*{
    margin:0;
    padding:0;  
}
body{
    background-color: black;
}
.main{
    background-image: url("assests/img/backg.jpg");
    position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;
    position: relative;
    
}
.main .box{
    height: 80vh;
    width:100%;
    background-color: black;
    opacity: 0.74;
    position: absolute;
    top:0;
}
nav{
    max-width: 150vh;
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 112px;
}
nav img{
    color:red;
    /* height: 260px; */
    width: 140px;
    position: relative;
    z-index: 10;
}
nav button{
     position: relative;
     z-index: 10;
}
.hero{
    position: relative;
    color:white;
    text-align:center;
    display: flex;
    flex-direction: column;
    height: calc(100%-112px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 23px;
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 60px;
    margin-top: 80px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.hero>:nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.sepration{
    height: 5px;
    background-color: rgb(61, 60, 60);
}
.btn{
   padding: 3px,8px; 
   font-weight: bold;
   background-color: white;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 20px;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
    background-color: rgba(23,23,23,0.2);
}
.btn-red-sin{
    background-color: red;
    color: white;
}